.navbar {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 43px;
    padding-bottom: 49px;
}

.nav-div {
    padding: 20px 10px;
    margin: 10px;
}

.nav-item {
    text-decoration: none;
}

.nav-logo-container {
    background-image: url(../image/logo\ sdd.png);
    width: 155px;
    height: 83px;
    background-size: contain;
    background-repeat: no-repeat;
}

.nav-icon-container {
    display: flex;
    align-items: center;
}

.nav-icon {
    height: 35.5px;
    width: 35.5px;
    margin-right: 20px;
}