.carousel-container{
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
    width: 100%;
    margin-left:auto;
    margin-right: auto;
}
.carousel-img{
    width: 221px;
    height: 221px;
    margin-left: 40px;
}

li{
    border-bottom: none;
}

button{
    width: 30px;
    height: 30px;
}