.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: antiquewhite;
    height:75px;
    width:100%;
}

.nav-div {
    background-color: aliceblue;
    padding: 10px;
    border: 1px solid black;
    margin: 10px;
}

.nav-item {
    text-decoration: none;
}

.nav-logo-container {

}

.nav-logo {

}

.nav-icon-container {

}

.nav-icon {
    
}